.button-articles {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button-articles:hover {
  background-color: #0056b3;
}

.new-article-container {
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.new-article-container:hover {
  background-color: #333;
  color: white;
}

.no-data {
  font-size: 1.5em;
  color: #555;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 50px auto;
}