.search-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.search-select,
.search-submit {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.search-submit {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .search-form {
    max-width: 600px;
  }

  .search-submit {
    width: calc(50% - 10px);
  }
}
